body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9e7c9 !important;
}

html, body, #root
{
	/* we don't want any of these to scroll */
	overflow: hidden;
	height: 100%;
}

.ui.ui.container.topPadding {
  padding-top: 30px;
}

header {
  z-index: 800;
}

div.ui.menu {
  background-color: #fdc973;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
}

.ui.menu .item:before {
  width: 0px;
}

.ui.menu:not(.vertical) .item {
  display: flex;
  align-items: flex-end
}

main {
  z-index:799;
}

.save-pet , .remove-pet{
  transition-property: color;
  transition-duration: .1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.save-pet:hover {
  color: #1e70bf;
}

.remove-pet:hover {
  color: red;
}

.save-pet[data-disabled='true']:hover {
  pointer-events: none;
}

.ui.inverted.menu {
  background-color: #fdc973;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  z-index: 800;
}

div.ui.borderless.menu {
  flex-wrap: wrap;
}

div.right.menu {
flex-wrap: wrap;
}

div.header.item {
  text-align: center !important;
}

div.right.menu a.item {
  color: #392402;
  font-weight:600;
  font-size: 16px;
}

div.ui.cards {
  justify-content: center;
}

.ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column  {
  width: 60% !important;
}

.footer-container {
  text-align: center;

  color: black;
}

div.ui.message.warning {
  text-align: center;
  background-color: #fbb540;
  color: #f9e7c9;
  font-weight: 600;
  font-size: 20px;

}

/* input[type=checkbox]  */
.ui.form input[type=checkbox]
{
  width: 20px;
  position: relative;
  right: 5px !important;
  vertical-align: baseline !important;
}

.ui.form  .field>label {  
  width: 200px;
  position: relative;
  right:-5px;
  display: inline-block;
  vertical-align: baseline !important;
}

.ui.form .fields>label {  
  width: 200px;
  position: relative;
  right:0px;
  display: inline-block;
  vertical-align: baseline !important;
}

input#fileInput {
  width: 200px;
  font-size: 13px;
}

button {
  background-color: #0292c9;
}

@media only screen and (max-width: 1199px) {
  input#fileInput {
    width: 165px;
    font-size: 10px;
  }
  .ui.form .fields {
    display:block;
  }
}

@media only screen and (max-width: 992px) {
  .ui.form .fields {
  display:block;
}
input#fileInput {
  width: 185px;
  font-size: 12px;
  
  }
}

@media only screen and (max-width: 772px) {
  .ui.menu .item {
      padding-top: 5px;
      padding-bottom: 5px; 
  }
  .ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column  {
    width: 100% !important;
  } 


}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column  {
    width: 80% !important;
  }


 
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  input#fileInput {
    width: 185px;
    font-size: 12px;
  }

  /* Photo Upload */
   form > div:nth-child(2) > div:nth-child(2) > div.grouped.fields > div {
    display: block;
  }

    .ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column  {
     width: 100% !important;
   }
}


