body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root
{
	/* we don't want any of these to scroll */
	overflow: hidden;
	height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.ui.container.topPadding {
  padding-top: 30px;

}

div.ui.menu {
  background-color: #fdc973;
}

.ui.menu .item:before {
  width: 0px;
}

.ui.menu:not(.vertical) .item {
  display: flex;
  align-items: flex-end
}

.ui.inverted.menu {
  background-color: #fdc973;
  align-items: center;
  justify-content: center;
  
}

/* div.ui .container .topPadding .footer-container {
  width: 100%;
  
} */

/* div.ui .borderless .inverted .menu {

 text-align: center !important;
} */

div.header.item {
  
  text-align: center !important;
}

.footer-container {
  text-align: center;

  color: black;
}
